@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #22c55e;
  --accent: #34d399;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.gradient-text {
  background: linear-gradient(135deg, #22c55e 0%, #34d399 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
